<table style="with:100%">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Content</th>
        <th>Source</th>
        <th>Tag</th>
        <th>Published At</th>
    </tr>
    <%= for element <- @data do %>
    <%= render InterfaceWeb.SharedView, "table_row.html", element: element %>
    <% end %>

</table>
