<div class = "table_row">
<tr>
    <td><%=@element.author || "N/A" %></td>
    <td><%= Map.get(@element, :title, "N/A") %></td>
    <td><%=@element.content%></td>
    <td>
        <a href = <%= @element.url%> target = "_blank"><%= Map.get(@element, :source, "twitter") %>
        </a></td>
    <td><%= @element.tag %></td>
    <td><%= @element.published_at |> DateTime.to_string() |> String.slice(0,10) %>
</tr>
</div>
